.auth-container {
	display: flex;
	justify-content: space-around;
	label {
		display: block;
		font-size: 0.9rem;
		margin-bottom: 7px;
	}
	input {
		padding: 5px 3px;
		margin-bottom: 7px;
		border-radius: 4px;
		&:focus {
			border-radius: 4px;
			outline: unset;
		}
	}
	button {
		display: block;
		padding: 5px 3px;
		cursor: pointer;
	}
	code {
		margin-bottom: 20px;
		display: block;
	}
	.login {
		flex: 0.5;
		padding: 0 10px;
	}
	.register {
		flex: 0.5;
		padding: 0 10px;
	}
	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
		font-weight: 600;
		height: 70px;
		border-bottom: lightgray 1px solid;
		margin-bottom: 20px;
	}
}
